fieldset, button {
    border-radius: 15px;
    border: 2px solid white;
}

button {
    background-color: red;
}

a {
    text-decoration: none;
}

li#promo, p#promo {
    color: red;
}

li, legend {
    color: white;
}

tr {
    border-bottom: 1px solid white;
}
